MYSQL_DATABASE=book_catalog
MYSQL_USER=app
MYSQL_PASSWORD=app
MYSQL_ROOT_PASSWORD=root
MYSQL_HOST=db
MYSQL_PORT=3306

YII_DEBUG=1
YII_ENV=dev
COOKIE_VALIDATION_KEY=f3a8c1e90b7d4e6a2c5f8d1b0a9e7c64

# Official SMSPilot emulator/test key
SMSPILOT_API_KEY=XXXXXXXXXXXXYYYYYYYYYYYYZZZZZZZZXXXXXXXXXXXXYYYYYYYYYYYYZZZZZZZZ
SMSPILOT_API_URL=https://smspilot.ru/api.php
