/.idea
/.vscode
/nbproject
.DS_Store
Thumbs.db

/vendor
/runtime/*
!/runtime/.gitignore
/web/assets/*
!/web/assets/.gitignore
/web/uploads/*
!/web/uploads/.gitignore

.env
composer.phar
phpunit.phar
/phpunit.xml

*.log
